@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}
